.q-menu {
  box-shadow: 0 6px 12px #CCC8;
}

.q-btn.q-btn--ghost {
  > .q-focus-helper {
    background-color: currentColor;
    opacity: .25;

    &:before, &:after {
      display: none;
    }
  }
}
